.row{
  display: flex;
  justify-content: center;
}
.card, .front, .back{
  width: 150px;
  height: 210px;
}
.card{
  margin: 20px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back{
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}
.back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: #0B3371;
  background-position: center;
  border-radius: 10px;
}
.front{
  backface-visibility: hidden;
  text-align: center;
  background-image: url("../assets/pokemonCard.jpg");
  background-size: contain;
}
.msg{
  width: 250px;
  height: 60px;
  background-color: grey;
  border-radius: 10px;
  padding: 10px;
  text-align: center;

  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
#finish{
  display: none;
}
#container{
  filter: blur(2px);
  transition: 2s;
}
button{
  margin: 10px;
}